<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Música: Pambala|Karaoke</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/font-awesome.css" rel="stylesheet">
  <link href="/static/css/mycss.css" rel="stylesheet">





    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/static/js/wcdg.js"></script>
    <script src="/static/js/recorder.js"></script>
    <script src="/static/js/app.js"></script>




</head>

<body>
  <!--BEGIN HEADER-->
  <header>

        <div class="container">
      <img src="/static/img/logo.png" class="logo">
            <span id="username">Bem-Vindo: {{ user.username }}</span>
    <span id="logout"><a href="/logout/">(Sair)</a></span>

  </div>

  </div>
</header>
<!--END HEADER-->







<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Início</a></li>
        <li><a href="/membros/">Membros</a></li>
        <li><a href="#">Grupos</a></li>
        <li><a href="/perfil/">Perfil</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<section>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ musica.titulo }}</h3>
          </div>
               <div id="karaoke-player"></div>

                                <center>
                                <canvas id="karaoke-display" width="600" height="432">
                                </canvas></center>
                                <center>
                                <audio id="song" controls="controls" >
                                    <source src="/media/musicas/nobody_knows_you_pro.mp3" type="audio/mpeg" />
                                </audio>
                                 </center>



                            <div id="cdg-debug">
                            </div>

        </div>

    <button onclick="record()">Record</button>
    <button onclick="stop()">Stop</button>
    <button onclick="recordVideo()">Record Video</button>
    <button onclick="stopVideo()">Stop Video</button>
 
 
  </div><!--col-md-8 end-->


<div class="col-md-4">
  <!--BEGIN SIDEBAR-->
<div class="panel panel-default musics">
    <div class="panel-heading">
      <h3 class="panel-title">Musicas</h3>
    </div>
    <div class="panel-body musics">


      {% for musica in musicas %}
          <div >
            <h4><a href="/musica?id={{ musica.id }}">{{ musica.titulo }}</a></h4>
          </div>
       <div class="clearfix"></div>
        {% endfor %}


    </div>
  </div>





  <div class="panel panel-default groups">
    <div class="panel-heading">
      <h3 class="panel-title">Grupos Recentes</h3>
    </div>
    <div class="panel-body">
      <div class="group-item">
        <img = src="/static/img/group.png">
        <h4><a href="#">Grupo 1</a></h4>
        <p>Esse é um grupo de exemplo</p>
      </div>
      <div class="clearfix"></div>

      <div class="group-item">
        <img = src="/static/img/group.png">
        <h4><a href="#">Grupo 2</a></h4>
        <p>Esse é um grupo de exemplo</p>
      </div>
      <div class="clearfix"></div>

      <div class="group-item">
        <img = src="/static/img/group.png">
        <h4><a href="#">Grupo 3</a></h4>
        <p>Esse é um grupo de exemplo</p>
      </div>
      <div class="clearfix"></div>

      
        <a class="btn btn-primary" href="#">Ver todos grupos</a>
      </div>
  </div>
  <!--END SIDEBAR-->

</div><!--END col-md-4-->
</div>
</div>
</section>

<!--BEGIN FOOTER-->
<footer>
<div class="container">
  <p>Pambala Copyright &copy; 2015, Todos Direitos Reservados</p>
</div>
</footer>
<!--END FOOTER-->




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
     

  </body>
  </html>
